// FRONT PAGE
.home-top {

  //@include row(table);
  @include grid-container;

  .home-top-c1 {
    @include grid-column(8);
    //@include omega;

    float:left;
  }

  .home-top-c2 {
    @include grid-column(4);
    //@include omega;

    float:left;
    text-align: right;
  }

  .home-top-c1,
  .home-top-c2 {
    @include grid-media($gx-grid-sm) {
      @include grid-column(12);
      //@include omega;

      margin: 20px auto;
      text-align: center;
    }
  }

  //.widget {
    //border-bottom: 5px solid $neutral-tan-lt;
    //.widgettitle {
      //background: $neutral-tan-lt;
    //}
  //}

  margin: 2% auto;
  padding: 10px 0;

}


.home-3col-c2a {

  //@include row(table);
  @include grid-container;

  .home-c2a {
    
    @include grid-column(4);
    //@include omega;
    
    //border: 1px solid $red;
    height: 200px;
    float:left;

    @include grid-media($gx-grid-md){
      @include grid-column(6);
      //@include omega;
    }

    @include grid-media($gx-grid-sm){
      @include grid-column(12);
      //@include omega;
    }
  }


}