/* ## Site Containers
--------------------------------------------- */

body {
	background: $color-whitesmoke;
}

.site-inner,
.wrap {

	@include grid-container;
	//@include grid-collapse;
	
}

.site-inner {

	.content,
	.sidebar {
		padding: 2%;
	}

	padding-top: 40px;
}