// MENU COLORS


$menu-bg-color : $color-alto;

$menu-text-color: $color-cod-gray;
$menu-link-color: $color-mine-shaft;

$cur-menu-item: $red;

$cur-menu-border-left: $red;

$menu-toggle-color: $red;

